dev/pug/pages/contactos.pug
extends ../includes/template.pug
block content
  .col100
    h2.main__title.col100 Contáctenos
  main.col100
    .main
      .col30
        form.form(v-on:submit.prevent="submitForm")
          .item
            label.form__label(for="") Nombre completo: 
            input.form__input(v-model="vue.nombre" type="text" required="")
          .item
            label.form__label(for="") Teléfono: 
            input.form__input(v-model="vue.telefono" type="number")
          .item
            label.form__label(for="") Celular: 
            input.form__input(v-model="vue.movil" type="number" required="")
          .item
            label.form__label(for="") Dirección: 
            input.form__input(v-model="vue.direccion" type="text" required="")
          .item
            label.form__label(for="") Ciudad: 
            input.form__input(v-model="vue.ciudad" type="text" required="")
          .item
            label.form__label(for="") Email: 
            input.form__input(v-model="vue.email" type="email" required="")
          .item
            label.form__label(for="") Mensaje: 
            textarea.form__input(v-model="vue.mensaje" name="", cols="30", rows="10" required="") 
          .form_buttons
            button.button.button--tertiary(type="submit") Enviar
            button.button.button--tertiary(v-on:click="clearForm()") Limpiar
          .statusMessage(v-if="formSubmitted")
            h4(v-text="vue.envio")
      .col70
        h3.main__subtitle Oficina Central - Santa Cruz
        iframe.map(src="https://www.google.com/maps/d/embed?mid=1VST8SV1277F8teSZIshhnGYBRHFnALOB", frameborder="0")
        //- iframe(src="https://www.google.com/maps/d/embed?mid=18__QbRaS1rBWqcOeFkdmOgUSvUc", width="100%")

public/contactos.html
<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
  <head>
    <title>CONSERCO - Mallas olímpicas y construcción de estructuras metálicas.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta name="designer" content="Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com">
    <meta name="description" content="">
    <meta property="og:title" content="CONSERCO - Mallas olímpicas y construcción de estructuras metálicas.">
    <meta property="og:description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="css/styles.css?v1.0.4">
  </head>
  <body>
    <div id="app">
      <header class="header">
        <div class="header__content">
          <nav class="conserco header__nav">
            <ul class="header__social social">
              <li class="header__social_item social__icon"><a class="header__social_link" href="https://www.facebook.com/Conserco-Construcciones-Servicios-y-Concreto-348863381858418/" target="_black"><i class="icon-facebook"> </i></a></li>
              <li class="header__social_item social__icon"><a class="header__social_link" href=""><i class="icon-youtube"></i></a></li>
              <li class="header__social_item social__icon"><a class="header__social_link" href=""><i class="icon-twitter"></i></a></li>
            </ul>
            <div class="header__logo"><a href="./"><img src="images/conserco.png" alt="CONSERCO"></a></div>
            <ul class="header__inicio">
              <li class="header__inicio_item" v-for="item in menuinicio"><a class="button--tertiary full" :href="item.href" v-text="item.title"></a></li>
            </ul>
          </nav>
        </div>
        <nav class="conserco menu__movil"><a class="button full" v-on:click="toggleMenu()">MENÚ</a></nav>
        <div class="header__content">
          <nav class="header__movil" :class="{ header__movil_active: toggle }">
            <ul class="header__movil_inicio">
              <li class="header__movil_item header__inicio_item" v-for="item in menuinicio"><a class="button--tertiary full" :href="item.href" v-text="item.title"></a></li>
            </ul>
            <ul class="header__menu">
              <li class="header__menu_item" v-for="item in mainmenu"><a class="button full" v-text="item.title" :href="item.href"></a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="col100">
        <h2 class="main__title col100">Contáctenos</h2>
      </div>
      <main class="col100">
        <div class="main">
          <div class="col30">
            <form class="form" v-on:submit.prevent="submitForm">
              <div class="item">
                <label class="form__label" for="">Nombre completo: </label>
                <input class="form__input" v-model="vue.nombre" type="text" required="">
              </div>
              <div class="item">
                <label class="form__label" for="">Teléfono: </label>
                <input class="form__input" v-model="vue.telefono" type="number">
              </div>
              <div class="item">
                <label class="form__label" for="">Celular: </label>
                <input class="form__input" v-model="vue.movil" type="number" required="">
              </div>
              <div class="item">
                <label class="form__label" for="">Dirección: </label>
                <input class="form__input" v-model="vue.direccion" type="text" required="">
              </div>
              <div class="item">
                <label class="form__label" for="">Ciudad: </label>
                <input class="form__input" v-model="vue.ciudad" type="text" required="">
              </div>
              <div class="item">
                <label class="form__label" for="">Email: </label>
                <input class="form__input" v-model="vue.email" type="email" required="">
              </div>
              <div class="item">
                <label class="form__label" for="">Mensaje: </label>
                <textarea class="form__input" v-model="vue.mensaje" name="" cols="30" rows="10" required=""> </textarea>
              </div>
              <div class="form_buttons">
                <button class="button button--tertiary" type="submit">Enviar</button>
                <button class="button button--tertiary" v-on:click="clearForm()">Limpiar</button>
              </div>
              <div class="statusMessage" v-if="formSubmitted">
                <h4 v-text="vue.envio"></h4>
              </div>
            </form>
          </div>
          <div class="col70">
            <h3 class="main__subtitle">Oficina Central - Santa Cruz</h3>
            <iframe class="map" src="https://www.google.com/maps/d/embed?mid=1VST8SV1277F8teSZIshhnGYBRHFnALOB" frameborder="0"></iframe>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="conserco">
          <div class="footer__item footer__item_2">
            <div class="footer__itemcontent">
              <h2 class="footer__title">CONSERCO - BOLIVIA</h2>
              <div class="footer__item--block item conserco">
                <p class="footer__text col100"><span class="block"><b>SANTA CRUZ:</b> Av. Virgen de Cotoca y Av. Jardín (9º Anillo. Entrando media cuadra) </span><span><a class="marker" :href="menuinicio[2].href"><i class="icon icon-marker"></i> <strong> VER MAPA </strong></a></span></p>
                <p class="footer__text col50"><span class="block"><b>Telfs.:</b> (591-3) 3609700  / (591-3) 3903232</span><br><span><strong>Cels.:</strong> <span class="whatsapp">79018564</span> / <span class="whatsapp">77019111</span></span></p>
                <p class="footer__text col50"><strong>E-mail.:</strong><span>ventas.conserco@gmail.com <br>conserco@cotas.com.bo</span></p>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <footer class="footer__copyright">
        <div class="footer__item footer__copyright_item">
          <div class="conserco">
            <div class="footer__itemcontent item conserco">
              <p class="col50">Todos los Derechos Reservados ®. <strong>Conserco</strong>.<span>© <i id="currentDate"></i></span></p>
              <ul class="footer__social social">
                <li class="header__social_item social__icon"><a class="header__social_link" href="https://www.facebook.com/Conserco-Construcciones-Servicios-y-Concreto-348863381858418/" target="_black"><i class="icon-facebook"> </i></a></li>
                <li class="header__social_item social__icon"><a class="header__social_link" href=""><i class="icon-youtube"></i></a></li>
                <li class="header__social_item social__icon"><a class="header__social_link" href=""><i class="icon-twitter"></i></a></li>
              </ul>
              <p class="col50"><a class="ah" href="//ahpublic.com" target="_blank">Diseño y Programación: AH! PUBLICIDAD</a></p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/scripts.js?v1.0.4"></script>
  </body>
</html>
