public/index.html
<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
  <head>
    <title>CONSERCO - Mallas olímpicas y construcción de estructuras metálicas.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta name="designer" content="Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com">
    <meta name="description" content="">
    <meta property="og:title" content="CONSERCO - Mallas olímpicas y construcción de estructuras metálicas.">
    <meta property="og:description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="css/styles.css?v1.0.4">
  </head>
  <body>
    <div id="app">
      <header class="header">
        <div class="header__content">
          <nav class="conserco header__nav">
            <ul class="header__social social">
              <li class="header__social_item social__icon"><a class="header__social_link" href="https://www.facebook.com/Conserco-Construcciones-Servicios-y-Concreto-348863381858418/" target="_black"><i class="icon-facebook"> </i></a></li>
              <li class="header__social_item social__icon"><a class="header__social_link" href=""><i class="icon-youtube"></i></a></li>
              <li class="header__social_item social__icon"><a class="header__social_link" href=""><i class="icon-twitter"></i></a></li>
            </ul>
            <div class="header__logo"><a href="./"><img src="images/conserco.png" alt="CONSERCO"></a></div>
            <ul class="header__inicio">
              <li class="header__inicio_item" v-for="item in menuinicio"><a class="button--tertiary full" :href="item.href" v-text="item.title"></a></li>
            </ul>
          </nav>
        </div>
        <nav class="conserco menu__movil"><a class="button full" v-on:click="toggleMenu()">MENÚ</a></nav>
        <div class="header__content">
          <nav class="header__movil" :class="{ header__movil_active: toggle }">
            <ul class="header__movil_inicio">
              <li class="header__movil_item header__inicio_item" v-for="item in menuinicio"><a class="button--tertiary full" :href="item.href" v-text="item.title"></a></li>
            </ul>
            <ul class="header__menu">
              <li class="header__menu_item" v-for="item in mainmenu"><a class="button full" v-text="item.title" :href="item.href"></a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="col100">
        <h2 class="col100 main__title">Bienvenidos a nuestro sitio web</h2>
      </div>
      <main class="col100">
        <div class="main">
          <div class="slider col20"><a class="slider__content" v-on:click="showSlider('images/slide01.jpg')"><img class="slider__thumb" src="images/slide01.jpg" alt=""></a><a class="slider__content" v-on:click="showSlider('images/slide02.jpg')"><img class="slider__thumb" src="images/slide02.jpg" alt=""></a><a class="slider__content" v-on:click="showSlider('images/slide03.jpg')"><img class="slider__thumb" src="images/slide03.jpg" alt=""></a><a class="slider__content" v-on:click="showSlider('images/slide04.jpg')"><img class="slider__thumb" src="images/slide04.jpg" alt=""></a></div>
          <div class="col60 slider"><img class="slider__show" :src="slideshow" alt="">
            <template v-for="item in slide">
              <transition name="fade">
                <div class="slider__title" v-show="slideshow == item.href">
                  <p v-text="item.title">HOLA SLIDER</p>
                </div>
              </transition>
            </template>
          </div>
          <div class="slider col20"><a class="slider__content" v-on:click="showSlider('images/slide05.jpg')"><img class="slider__thumb" src="images/slide05.jpg" alt=""></a><a class="slider__content" v-on:click="showSlider('images/slide06.jpg')"><img class="slider__thumb" src="images/slide06.jpg" alt=""></a><a class="slider__content" v-on:click="showSlider('images/slide07.jpg')"><img class="slider__thumb" src="images/slide07.jpg" alt=""></a><a class="slider__content" v-on:click="showSlider('images/slide08.jpg')"><img class="slider__thumb" src="images/slide08.jpg" alt=""></a></div>
        </div>
      </main>
      <footer class="footer">
        <div class="conserco">
          <div class="footer__item footer__item_2">
            <div class="footer__itemcontent">
              <h2 class="footer__title">CONSERCO - BOLIVIA</h2>
              <div class="footer__item--block item conserco">
                <p class="footer__text col100"><span class="block"><b>SANTA CRUZ:</b> Av. Virgen de Cotoca y Av. Jardín (9º Anillo. Entrando media cuadra) </span><span><a class="marker" :href="menuinicio[2].href"><i class="icon icon-marker"></i> <strong> VER MAPA </strong></a></span></p>
                <p class="footer__text col50"><span class="block"><b>Telfs.:</b> (591-3) 3609700  / (591-3) 3903232</span><br><span><strong>Cels.:</strong> <span class="whatsapp">79018564</span> / <span class="whatsapp">77019111</span></span></p>
                <p class="footer__text col50"><strong>E-mail.:</strong><span>ventas.conserco@gmail.com <br>conserco@cotas.com.bo</span></p>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <footer class="footer__copyright">
        <div class="footer__item footer__copyright_item">
          <div class="conserco">
            <div class="footer__itemcontent item conserco">
              <p class="col50">Todos los Derechos Reservados ®. <strong>Conserco</strong>.<span>© <i id="currentDate"></i></span></p>
              <ul class="footer__social social">
                <li class="header__social_item social__icon"><a class="header__social_link" href="https://www.facebook.com/Conserco-Construcciones-Servicios-y-Concreto-348863381858418/" target="_black"><i class="icon-facebook"> </i></a></li>
                <li class="header__social_item social__icon"><a class="header__social_link" href=""><i class="icon-youtube"></i></a></li>
                <li class="header__social_item social__icon"><a class="header__social_link" href=""><i class="icon-twitter"></i></a></li>
              </ul>
              <p class="col50"><a class="ah" href="//ahpublic.com" target="_blank">Diseño y Programación: AH! PUBLICIDAD</a></p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/scripts.js?v1.0.4"></script>
  </body>
</html>

dev/pug/pages/index.pug
extends ../includes/template.pug
block content
  .col100
    h2.col100.main__title Bienvenidos a nuestro sitio web
  main.col100
    .main
      //- .slider.col50
        //- a(v-on:click="slideCero('uno')").slider__content
          img(src="images/slide1.jpg", alt="")
      .slider.col20
        a(v-on:click="showSlider('images/slide01.jpg')").slider__content
          img.slider__thumb(src="images/slide01.jpg", alt="")
        a(v-on:click="showSlider('images/slide02.jpg')").slider__content
          img.slider__thumb(src="images/slide02.jpg", alt="")
        a(v-on:click="showSlider('images/slide03.jpg')").slider__content
          img.slider__thumb(src="images/slide03.jpg", alt="")
        a(v-on:click="showSlider('images/slide04.jpg')").slider__content
          img.slider__thumb(src="images/slide04.jpg", alt="")
      .col60.slider
        img.slider__show(:src="slideshow", alt="")
        template(v-for= "item in slide")
          transition(name="fade")
            .slider__title(v-show="slideshow == item.href")
              p(v-text="item.title") HOLA SLIDER
      .slider.col20
        a(v-on:click="showSlider('images/slide05.jpg')").slider__content
          img.slider__thumb(src="images/slide05.jpg", alt="")
        a(v-on:click="showSlider('images/slide06.jpg')").slider__content
          img.slider__thumb(src="images/slide06.jpg", alt="")
        a(v-on:click="showSlider('images/slide07.jpg')").slider__content
          img.slider__thumb(src="images/slide07.jpg", alt="")
        a(v-on:click="showSlider('images/slide08.jpg')").slider__content
          img.slider__thumb(src="images/slide08.jpg", alt="")
